        <% var escolha %>

        <div class="transactionsGrid">
            <div class="newTransaction">
                <h3>Novo Movimento</h3>
                <form method="POST" id="adicionar-movimentos-div">
                    <input type="hidden" name="user_id" value="<%= id %>">
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Valor:</label>
                        <input name="valor" type="number" class="form-control" id="exampleFormControlInput1" placeholder="" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Tipo de Movimento: </label>
                        <select name="tipo" class="form-control" id="exampleFormControlSelect1" required>
                            <option disabled selected></option>
                            <option value="2" <% if(this.selected) escolha = "1" %> >Rendimento</option>
                            <option value="1" >Despesa</option>
                        </select>
                    </div>

                    
                    <div class="form-group">
                        <label for="categorias">Categoria: </label>
                        <select name="categorias" class="form-control" id="category-select" required>

                            
                                <option value="1">Alimentação</option>
                                <option value="2">Lazer</option>
                                <option value="3">Transporte</option>
                                <option value="4">Vestuário</option>
                                <option value="5">Educação</option>
                                <option value="6">Saúde</option>
                                <option value="7">Casa</option>
                                <option value="8">Outro</option>
                                <option value="" disabled>Separação</option>
                                <option value="9">Salário</option>
                                <option value="10">Extra</option>
                                <option value="11">Subsídio</option>
                                <option value="12">Outro</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Description:</label>
                        <textarea name="descricao" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Date:</label>
                        <input name="data" class="form-check-input" type="date" value="" id="datePicker">
                    </div>
                    <!-- <div class="form-check">
                        <input name="fixo" class="form-check-input" type="checkbox" id="fixoInput">
                        <label class="form-check-label" for="flexCheckDefault">
                            Upcoming Transaction
                        </label>
                    </div> -->
                    <br>
                    <div>
                        <button id="insertButton" type="button" class="btn btn-dark">Submit</button>
                    </div>
                </form>
            </div> 
            <div class="lastTransactions">
                <h4>Your transactions</h4>
                <div id="movimentos-totais" class="list-group">
                    <% var count = 0 %>
                    <% let hoje = new Date() %>
                    <% let ano = hoje.getFullYear(), mes = hoje.getMonth()+1, dia = hoje.getDate(); %>
                    <% let hojeFormatado = ano + '-' + (mes < 10 ? '0' : '') + mes + '-' + (dia < 10 ? '0' : '') + dia; %>
                    <% for (let movimento of movimentos) { %>
                        <% console.log(hojeFormatado,movimento['data']); %>
                        <% if (movimento['data'] <= String(hojeFormatado)) { %>
                            <% console.log("menor"); %>
                        <a href="#" data-id="<%= movimentos.id %>" onclick="toggleActive(this)" class="list-group-item list-group-item-action border border-light
                            <% if (movimento.tipo == 2) { %>
                                bg-success text-dark bg-opacity-25
                            <% } else if (movimento.tipo == 1) { %>
                                bg-danger text-dark bg-opacity-25
                            <% } %>
                            <%= movimento.valor %>
                            " aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><%= movimento.categoria %></h5>
                                <small><%= movimento.data %></small>
                            </div>
                            <div class="d-flex w-100 justify-content-between">
                                <p class="mb-1"><%= movimento.descricao %></p>
                                <h6 class="mb-1">
                                    <% if (movimento.tipo == 1) { %>
                                        <span>- </span>
                                    <% } else if (movimento.tipo == 2) { %>
                                        <span>+ </span>
                                    <% } %>
                                    <%= movimento.valor %> €
                                    </h6>
                            </div>
                        </a>
                        <% } else count++ %>                  
                    <% } %>
                </div>
            </div>
            <div class="newCategory">
                <h4>Create a new category</h4>
                <div class="nova-categoria">
                    <label for="exampleFormControlInput1">Name:</label>
                    <input id="idNovaCategoria" name="categoria" type="text" class="form-control" placeholder="">
                    <button id="insertButtonCategory" type="button" class="btn btn-dark">Submit</button>
                </div>
            </div>
            <div class="upcomingTransactions">
                <h4>Upcoming Transactions</h4>
                <div id="proximas-despesas" class="list-group">
                    <% for (let x = count-1; x >= 0; x--) { %>

                        <% let movimento = movimentos[x] %>
                        <a href="#" data-id="<%= movimentos.id %>" onclick="toggleActive(this)" class="list-group-item list-group-item-action border border-light
                            <% if (movimento.tipo == 2) { %>
                                bg-success text-dark bg-opacity-25
                            <% } else if (movimento.tipo == 1) { %>
                                bg-danger text-dark bg-opacity-25"
                            <% } %>
                            <%= movimento.valor %>
                            " aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1"><%= movimento.categoria %></h5>
                                <small><%= movimento.data %></small>
                            </div>
                            <div class="d-flex w-100 justify-content-between">
                                <p class="mb-1"><%= movimento.descricao %></p>
                                <h6 class="mb-1">
                                    <% if (movimento.tipo == 1) { %>
                                        <span>- </span>
                                    <% } else if (movimento.tipo == 2) { %>
                                        <span>+ </span>
                                    <% } %>
                                    <%= movimento.valor %> €
                                    </h6>
                            </div>
                        </a>
                        
                    <% } %>
                </div>
            </div>
            <div class="everyMonthTransactions">
                <h4>Every month transactions </h4>
                <div id="despesas-mensais-fixas" class="list-group"></div>
            </div>
        </div>

    <script>
        function toggleActive(el) {
            document.querySelectorAll('.list-group > a').forEach((el) => {
                el.classList.remove('active');
            });

            el.classList.add('active');

        }
    </script>
    <script src="js/accessMovements.js"></script>